* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 25px 50px;
    background-color: rgb(60, 199, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.link {
    width: 80%;
    margin: 0 auto;
    border: 2px dashed black;
    background-color: orange;
    text-align: center;
}

.login {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.head_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.head {
    width: 60%;
    height: 180px;
    background-color: violet;
}

.content_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_1 {
    width: 40%;
    height: 180px;
    background-color: rgb(89, 89, 224);
}

.content_2 {
    width: 30%;
    height: 180px;
    background-color: pink;
}

#content_main_color {
    background-color: lightgrey;
}