* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 199, 188);
}

header {
    margin: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.link {
    width: 80%;
    margin: 0 auto;
    border: 2px dashed black;
    background-color: orange;
    text-align: center;
}

.login {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.head {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    align-items: center;
}
