* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 25px 50px;
    background-color: rgb(60, 199, 188);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.link {
    width: 80%;
    margin: 0 auto;
    border: 2px dashed black;
    background-color: orange;
    text-align: center;
}

.login {
    width: 20%;
    border: 2px dashed black;
    background-color: orange;
}

.head_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.head {
    width: 60%;
    height: 180px;
    background-color: violet;
}

.content_main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_1 {
    width: 40%;
    height: 180px;
    background-color: rgb(89, 89, 224);
}

.content_2 {
    width: 30%;
    height: 180px;
    background-color: pink;
}

#content_main_color {
    background-color: lightgrey;
}

.queue_main {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.queue {
    width: 70%;
    height: 380px;
    background-color: green;
}

.foot_main {
    width: 100%;
    height: 300px;
    background-color: rgb(55, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.foot_1 {
    width: calc(70% / 6 * 2);
    height: 280px;
    background-color: violet;
    border: 2px dsahed black;
}

.foot_2 {
    width: calc(70% / 6);
    height: 280px;
    background-color: cadetblue;
    border: 2px dashed white;
}
